.About{
    width:  auto;
    color: yellow;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    border: none;
    margin: auto;
    /* text-wrap: wrap; */
}


.aboutText { 
  font-size: 1.2rem;
  margin: 2rem;
  flex-wrap: wrap;
  height: fit-content;
}

@media screen and (max-width:525px) {
  .About{width: auto; height: auto;display: flex; align-items: center;justify-content: center; flex-direction: column-reverse;}
  .aboutText{font-size:1rem;padding: 0;}
  .AboutButtons{flex-wrap:wrap;width: 100vw;}
}