h5 {
  width: fit-content;
  height: 3rem;
  border-bottom: solid 3px black;
  margin-bottom: 1rem;
  padding-bottom:3rem;
}

.spanSkills {
    display: flex;
    margin: 0.5rem;
}

img{
    margin-right:0.3rem;
}

@media screen and (max-width:525px) {
  .skillSection{width:auto; display: flex;flex-direction: column;align-items: center;}
  .skillSection div{margin-top: 2rem;}
}